/* Box Model Hack */
* {
    box-sizing: border-box;
}
  
/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
    clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

:root {
    --color-1: #282828;
    --color-2: #e0e0e0;
}

html {
    font-size: 18px;
}

#content {
    height: 100vh;
    background-color: var(--color-1);
    color: var(--color-2);
}

/******************************************
/* LAYOUT
/*******************************************/


/******************************************
/* ADDITIONAL STYLES
/*******************************************/